@charset "utf-8";
/* CSS Document */
.product .introduction
{
	color:#666;
	font-size:14px;
}
.product .pname1 span
{
	font-weight:bold;
	font-size:14px;
	color:#000;
}
.product .pname1
{
	color:#666;
	font-size:12px;
}
.product .pname2
{
	color:#666;
	font-size:12px;
}
.product .pname2 span
{
	font-weight:bold;
	font-size:14px;
	color:#000;
}
.product .pname3 span
{
	font-weight:bold;
	font-size:14px;
	color:#000;
}
.product .pname3
{
	color:#666;
	font-size:12px;
}
.product .next a
{
	color:#000;
	text-decoration:none;
	cursor:pointer;
	font-size:16px;
	margin-top:20px;
}
.product .next a:hover
{
	text-decoration:none;
	color:#F00;
	
}
.product .last a
{
	color:#000;
	text-decoration:none;
	cursor:pointer;
	font-size:16px;
	margin-top:20px;
}
.product .last a:hover
{
	text-decoration:none;
	color:#F00;
	
}